<hr class="mt-3">
<div class="flex mt-8 items-center font-bold space-x-4">
  <div class="flex-shrink-0">
    <img src="assets/image/yoona_lim.jpg" class="h-12 w-12" alt="logo">
  </div>
  <div class="flex-1 text-md min-w-0 p-0">
    <p>Advance Digital Store</p>
    <p class="text-purple-600">Online</p>
  </div>
  <div class="px-4 py-1 rounded-md bg-purple-300 cursor-pointer hover:bg-purple-600">
    Follow
  </div>
</div>
<div class="inline-block xs:flex pl-[4rem] mt-3 font-normal space-x-0 xs:space-x-2">
  <p>{{ rate }} rata-rata ulasan |</p>
  <p>4 Jam pesanan diproses</p>
</div>
<hr class="mt-6">
