
<app-navbar class="top-0 z-50 w-full fixed shadow-black shadow-sm" style="background: rgb(59,20,167);"></app-navbar>

  <div class="lg:container mx-auto">
    <div class="ml-[3.4rem] mr-0 sm:ml-[3.5rem] xs:ml-[4rem] md:ml-[4.4rem] xs:mr-3 md:mr-2 mt-[4.5rem] mb-2">
      <div *ngIf="!product.id; else elseBlock">
        <app-not-found-page></app-not-found-page>
      </div>
      <ng-template #elseBlock>
        <div class="grid md:grid-cols-2 md:flex w-full md:justify-center gap-3">
          <div class="h-full tab:h-screen w-full md:w-[40%] p-1 lg:w-[30%] shaddow-custom rounded-none xs:rounded-md">
            <app-preview-image-product
              [currentImage]="currentImage || ''"
            ></app-preview-image-product>


            <app-chart-customer-review
              [rating]="product.rate" class="mt-4 justify-center hidden tab:flex"
            ></app-chart-customer-review>
          </div>


          <div class=" h-screen overflow-auto w-full md:w-[60%] lg:tab:w-[47%] p-1">
            <app-product-content
              [title]="product.title || ''"
              [rate]="product.rate || '0'"
              [sellingPrice]="product.sellingPrice || ''"
              [discount]="product.discount || 0"
              [price]="product.price || ''"
              [terjual]="product.qty || 0"
            ></app-product-content>

            <app-product-detail
              [description]="product.description || ''"
              [title]="product.title || ''"
            ></app-product-detail>

            <app-shop-credibility
              [rate]="product.rate || '0'"
            ></app-shop-credibility>

            <app-shipment ></app-shipment>

            <app-offerings ></app-offerings>

            <app-qrcode ></app-qrcode>

            <div class="text-md mt-16">
              <app-chart-customer-review class="block tab:hidden" [rating]="product.rate || '0'"></app-chart-customer-review>

              <div class="flex items-center mt-10 space-x-4">
                <div class="flex-shrink-0">
                  <div class="font-bold text-lg">Ulasan Pilihan</div>
                  <small>Menampilkan 1 dari 1 ulasan</small>
                </div>
                <div class="flex-1 hidden sm:inline-block font start-end text-sm font-bold min-w-0 p-0">
                  <p class="justify-end flex ">Urutkan</p>
                </div>
                <select aria-label="rating" id="rating"
                  class="bg-gray-50 cursor-pointer select-none border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full sm:w-44 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option class="py-2 cursor-pointer" selected>Terbaru</option>
                  <option class="py-2 cursor-pointer" value="US">Rating Tertinggi</option>
                  <option class="py-2 cursor-pointer" value="CA">Rating terendah</option>
                </select>
              </div>

              <app-review-feed ></app-review-feed>
            </div>
          </div>

          <div class="hidden h-screen lg:w-[27%] lg:flex top-0 md:flex-col gap-4">
            <app-checkout
              [id]="product.id || 0"
              [title]="product.title || ''"
              [stock]="product.stock || 0"
              [image]="product.image || ''"
              [price]="product.price || '0'"
              [sellingPrice]="product.sellingPrice || '0'"
            ></app-checkout>

            <div class="mt-2">
              <img src="https://images.tokopedia.net/img/jdvdtx/2023/8/31/a92bbc2d-881b-49bc-94de-1cc057b0c682.jpg" alt="promo" width="372" height="124">
            </div>
          </div>

        </div>

      </ng-template>
    </div>
  </div>

<dialog id="my_modal_2" class="modal lg:hidden ">
  <div class="modal-box rounded-none xs:w-96">
    <app-checkout
      [id]="product.id || 0"
      [title]="product.title || ''"
      [stock]="product.stock || 0"
      [image]="product.image || ''"
      [price]="product.price || '0'"
      [sellingPrice]="product.sellingPrice || '0'"
    ></app-checkout>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button class="select-none">close</button>
  </form>
</dialog>

<app-sidebar-auth></app-sidebar-auth>
