<div class="text-md mt-4">
  <div class="font-bold text-lg">Beli di aplikasi, makin banyak promo!</div>
  <div class="flex items-center space-x-1">
    <div class="flex-shrink-0">
      <svg class="unf-icon" viewBox="0 0 24 24" width="26" height="26" fill="var(--GN500, #00AA5B)"
        style="display: inline-block; vertical-align: middle;">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M8 2.25h8A2.75 2.75 0 0118.75 5v14A2.75 2.75 0 0116 21.75H8A2.75 2.75 0 015.25 19V5A2.75 2.75 0 018 2.25zm8.884 17.634A1.25 1.25 0 0017.25 19V5A1.25 1.25 0 0016 3.75h-1A1.49 1.49 0 0113.5 5h-3A1.49 1.49 0 019 3.75H8A1.25 1.25 0 006.75 5v14A1.25 1.25 0 008 20.25h8c.331 0 .65-.132.884-.366zM11 17.25h2a.75.75 0 110 1.5h-2a.75.75 0 110-1.5z">
        </path>
      </svg>
    </div>
    <div class="flex-1 text-md min-w-0 p-0">
      <p>Scan QR-nya untuk lihat barang ini di aplikasi Sent. Bebas ongkir, lho~</p>
    </div>
    <button class="px-4 py-1 rounded-md bg-purple-300 cursor-pointer hover:bg-purple-600 font-bold select-none">
      Scan QR
    </button>
  </div>
</div>
