<app-sidebar></app-sidebar>
<div class="grid grid-cols-1 md:grid-cols-2 h-screen">
  <div class="bg-transparent hidden md:block mx-5 xl:mx-auto w-full md:max-w-xl">
    <app-counterpart></app-counterpart>
  </div>
  <div class="h-full"
    style="background: rgb(59,20,167); background: linear-gradient(180deg, rgba(59,20,167,1) 35%, rgba(246,184,184,1) 88%);">
    <app-navbar></app-navbar>
    <div (click)="toggleSidebarIfOpen()" style="background-image: url(assets/image/smoke.jpeg); background-size: cover;"
      class=" lg:absolute justify-center mx-auto mb-4 md:-ml-20 mt-[7rem]  md:mt-14 max-w-md rounded-none xs:rounded-lg bg-transparent p-6 md:pt-6 md:pb-3 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
      <app-form-register></app-form-register>
    </div>
  </div>
</div>
