<div *ngIf="isOpen$ | async" class="w-[15rem] h-full mt-0  top-0 fixed block sm:hidden flex-shrink-0 select-none">
  <div class="h-full" style="background: rgb(59,20,167); background: linear-gradient(180deg, rgba(59,20,167,1) 35%, rgba(246,184,184,1) 88%);">
    <div class="flex flex-col h-full overflow-y-auto shadow-2xl shadow-black">

      <div class="text-transparent text-2xl p-2 w-full flex justify-start">
        Lorem Ipsum
      </div>

      <div style="background-image: url(assets/image/smoke-01.jpeg); background-size: cover;" class="text-purple-900 bg-white flex justify-end mx-auto bg-transparent py-4 px-4 w-full">
        <div class="mr-1 flex-shrink-0 my-auto">
          <img src="assets/image/pena-01.png" width="120" height="30" alt="logo">
        </div>
        <div class=" my-1 text-xl font-bold text-end mr-2">
          <span>SENT</span>
        </div>
      </div>

      <a (click)="toggleSidebar()" routerLink="/home" routerLinkActive="bg-link-active border-b border-white border-medium" class="text-white py-2 px-4 w-full flex cursor-pointer">
        <div class="mr-4 flex-shrink-0 my-auto">
          <svg class="fill-current w-5 h-5" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
          </svg>
        </div>
        <div class="flex-auto my-1 ml-2">
          <span>Home</span>
        </div>
      </a>

      <a (click)="toggleSidebar()" routerLink="/about" routerLinkActive="bg-link-active border-b border-white border-medium" class="text-white py-2 px-4 w-full flex cursor-pointer">
        <div class="mr-4 flex-shrink-0 my-auto">
          <svg class="h-5 w-5" fill="none" focusable="false" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>

        </div>
        <div class="flex-auto my-1 ml-2">
          <span>About</span>
        </div>
      </a>

      <div class="text-white py-2 px-4 w-full flex cursor-pointer">
        <div class="mr-4 flex-shrink-0 my-auto">
          <svg class="fill-current h-5 w-5" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
            <path
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z">
            </path>
          </svg>
        </div>
        <div class="flex-auto my-1 ml-2">
          <span>Service</span>
        </div>
      </div>

      <div class="text-white py-2 px-4 w-full flex mb-1 cursor-pointer">
        <div class="mr-4 flex-shrink-0 my-auto">
          <svg class="fill-current h-5 w-5" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M21 3H3C2 3 1 4 1 5v14c0 1.1.9 2 2 2h18c1 0 2-1 2-2V5c0-1-1-2-2-2zM5 17l3.5-4.5 2.5 3.01L14.5 11l4.5 6H5z">
            </path>
          </svg>
        </div>
        <div class="flex-auto my-1 ml-2">
          <span>Pricing</span>
        </div>
      </div>
    </div>
  </div>
</div>
