<nav style="background: rgb(59,20,167);" class="flex md:justify-between bg-gray-900 text-white w-full">
  <div class="py-3 px-5 flex w-full items-center justify-end md:justify-end ">
    <ul class="flex px-0 lg:px-4 md:mx-auto font-semibold font-heading space-x-1">
      <li class="py-1 hidden xs:block hover:bg-orange-300 hover:rounded-md hover:text-black hover:shadow-md" routerLinkActive="bg-orange-300 rounded-md text-black"><a routerLink="/home" class="p-2 lg:px-6" >Home</a></li>
      <li class="py-1 hidden xs:block hover:bg-orange-300 hover:rounded-md hover:text-black hover:shadow-md" routerLinkActive="bg-orange-300 rounded-md text-black"><a routerLink="/about" class="p-2 lg:px-6">About</a></li>
      <li class="py-1 hidden xs:block hover:bg-orange-300 hover:rounded-md hover:text-black hover:shadow-md" routerLinkActive="bg-orange-300 rounded-md text-black"><span class="p-2 lg:px-6">Service</span></li>
      <li class="py-1 hidden xs:block hover:bg-orange-300 hover:rounded-md hover:text-black hover:shadow-md" routerLinkActive="bg-orange-300 rounded-md text-black"><span class="p-2 lg:px-6">Pricing</span></li>
      <li class="md:border w-fit rounded-lg ml-0 xs:ml-3 shadow-sm justify-end md:justify-normal">
        <button (click)="toggleSidebarIfOpen()" routerLink="/"
          class="px-2 sm:px-4 py-1 rounded-none sm:rounded-l-lg  bg-purple-600 text-white m-0 hover:bg-orange-300">Sign</button>
        <button (click)="toggleSidebarIfOpen()" routerLinkActive="bg-orange-300 rounded-md text-black" routerLink="/register"
          class="px-2 sm:px-4 py-1 rounded-none sm:rounded-r-lg bg-neutral-50 text-black  hover:bg-orange-300">Sign Up</button>
      </li>

    </ul>
    <div class="flex items-center">
      <svg *ngIf="isShow()" (click)="toggleSidebar()"
        class="w-6 h-6 text-white block m-1 sm:hidden dark:text-white ml-3 hover:text-orange-200" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
      <div class="dropdown dropdown-end">
        <div class="flex items-center hover:text-gray-200 ml-3 cursor-pointer" *ngIf="!isShow()">
          <svg tabindex="0"  xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden xs:block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          <svg routerLink="/cart" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 block xs:hidden" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          <span class="flex absolute -mt-5 ml-4">
            <span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-pink-400 opacity-75"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500">
            </span>
          </span>
        </div>
        <ul tabindex="0" class="menu dropdown-content rounded-sm overflow-auto h-60 z-[1] p-2 hidden xs:block shadow bg-base-100 w-96 mt-0 -mr-4">
          <div class="flex items-center text-black mb-2 border-b-2 py-2">
            <p class="flex-1 font-bold">Keranjang (10)</p>
            <a routerLink="/cart" class="hover:underline text-purple-600 cursor-pointer">Lihat selengkapnya</a>
          </div>
          <div *ngFor="let i of [1, 2, 3, 4]">
            <li class="rounded-none">
              <div class="flex items-center space-x-4">
                <div class="flex-shrink-0">
                  <img src="assets/image/yoona_lim.jpg" class="h-12 w-12" alt="sales">
                </div>
                <div class="flex-1 text-md text-black min-w-0 p-0">
                  <p class="line-clamp-1 font-bold">Panci Listrik Serbaguna Advance C-330 Steamer dan Ricecooker</p>
                  <p>1 Barang</p>
                </div>
                <p class="font-bold text-orange-300">Rp. 130.000</p>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>






