<div class="px-5 xs:px-8 fixed md:relative w-full bg-white shadow-md md:shadow-none">
  <div routerLink="/product" class="font-bold text-3xl mb-1 text-purple-600 w-ful kontener mx-auto py-2 md:py-3 cursor-pointer">
    SENTSHOP
    </div>
</div>
<hr>
<div class="px-5 xs:px-8 md:px-10 mt-[5rem] md:mt-0">
  <div *ngIf="products.length; else noProducts"  class="kontener mx-auto">
    <div class="mt-6 md:mt-5 mb-2 font-bold text-2xl">Checkout</div>
    <div class="grid md:grid-cols-2 md:flex w-full md:justify-center gap-3 mt-3 lg:gap-8">
      <div class="h-full md:h-screen md:overflow-auto w-full md:w-[55%] lg:w-[60%]">
        <div class="mr-0 lg:mr-4">
          <div class=" text-md font-bold">Alamat Pengiriman</div>
          <hr class="mt-3 mb-2">
          <div class="flex space-x-1 text-md items-center">
            <p class="font-bold text-lg">Tatang Haetami</p>
            <p>(Rumah)</p>
            <small class="px-1 bg-purple-600 rounded">utama</small>
          </div>
          <p>62822602832900</p>
          <p class="text-sm w-ful xs:w-1/2">Jl. Veteran, RT.2/RW.3, Gambir, Kecamatan Gambir, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10110</p>
          <hr class="mt-3 mb-4">
          <div class="inline xs:flex items-center space-x-0 xs:space-x-1 font-bold mb-4">
            <button class="py-2 px-4 border-2 rounded-lg mr-1 border-slate-200">Pilih Alamat Lain</button>
            <button class="py-2 px-4 border-2 rounded-lg m-1 xs:m-0 border-slate-200">Kirim Ke Beberapa Alamat</button>
          </div>
          <hr class="mt-3 xs:mt-0"><hr><hr><hr><hr><hr>
          <p class="font-bold mt-4 text-lg">Sent Official Store</p>
          <p>Jakarta Utara</p>

          <div *ngFor="let product of products; let i = index">
            <div *ngIf="products.length > 1" class="font-bold my-2 text-lg">Pesanan {{ i+1 }}</div>
            <div class="xs:grid xs:grid-cols-2 mt-4 lg:gap-[2px]">
              <div >
                  <div class="flex space-x-2">
                    <div class="flex-shrink-0">
                      <img [src]="product.image" alt="product-image" width="70" height="70" class="rounded shadow-sm">
                    </div>
                    <p class="text-md">{{ product.title }}</p>
                  </div>
                  <div class="ml-[78px]">
                    <div class="flex space-x-1 text-sm ">
                      <div>{{ product.qty }} Barang</div>
                      <div>(400 g)</div>
                    </div>
                  </div>
                  <div class="ml-[78px]">
                    <div class="flex space-x-2">
                      <div class="line-through">{{ product.total }}</div>
                      <div>{{ product.subtotal }}</div>
                    </div>
                  </div>
              </div>
              <div class="mt-3 xs:mt-0">
                <div class="font-bold text-sm ">Pilih Durasi</div>
                <select class="select xs:select-sm select-bordered w-full max-w-md bg-purple-600 text-white text-md outline-none mt-1">
                  <option disabled selected class="text-center rounded">Pengiriman</option>
                  <option class="py-5 rounded">Han Solo</option>
                  <option class="py-5 rounded">Greedo</option>
                </select>
              </div>
            </div>
            <div class="flex mt-3 items-center space-x-2">
              <div>
                <input
                  aria-label="checked product"
                  type="checkbox"
                  class="checkbox checkbox-sm checkbox-primary"
                  [(ngModel)]="product.insurance"
                  (ngModelChange)="addInsurance()"
                >
              </div>
              <div class="flex space-x-2 xs:space-x-6 items-center">
                <div class=" text-sm">
                  <div>Jatuh atau rusak? bisa ganti rugi</div>
                  <div><small>Proses klaim mudah dan instan, berlaku 3 hari</small></div>
                </div>
                <div class="w-1/2 xs:w-[5rem] text-sm">
                  <div class="font-bold">Rp. 5.000</div>
                  <div><small>Per barang</small></div>
                </div>
              </div>
            </div>
            <hr class="my-3">
            <div class="flex">
              <div class="font-bold flex-1">Subtotal</div>
              <div class="flex">
                <div class="font-bold">{{ product.subtotalPayment }}</div>
                <svg (click)="toggleCollapse(product)" [class.rotate-0]="!product.isCollapse" [class.rotate-180]="product.isCollapse" class="unf-icon css-1375h5i cursor-pointer"
                  viewBox="0 0 24 24" width="24" height="24" fill="var(--color-icon-enabled, #2E3137)"
                  style="display: inline-block; vertical-align: middle;">
                  <path
                    d="M12 15.25a.74.74 0 01-.53-.22l-5-5A.75.75 0 017.53 9L12 13.44 16.47 9a.75.75 0 011.06 1l-5 5a.74.74 0 01-.53.25z">
                  </path>
                </svg>
              </div>
            </div>
            <div *ngIf="product.isCollapse">
              <div class="flex">
                <div class="flex-1">Harga {{ product.qty }} Barang</div>
                <div class="font-bold">{{ product.subtotal }}</div>
              </div>
              <div *ngIf="product.insurance" class="flex">
                <div class="flex-1">Proteksi Produk</div>
                <div class="font-bold">Rp. 5.000</div>
              </div>
            </div>
          </div>

          <hr class="mt-3"><hr><hr><hr><hr><hr class="mb-3">
          <div class="flex space-x-2 items-center py-4">
            <input
              aria-label="checked product"
              type="checkbox"
              class="checkbox checkbox-sm checkbox-primary"
              [(ngModel)]="donation"
              (ngModelChange)="addDonation()"
            >
            <img src="https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/37bde91f.svg" alt="donasi-image" width="20" height="20">
            <p>Donasi Rp 5.000 untuk Program UMKM Ramah Lingkungan</p>
          </div>
          <hr class="mt-3"><hr><hr><hr><hr><hr class="mb-3">
          <div class="flex space-x-2 items-center py-4">
            <input
              aria-label="checked product"
              type="checkbox"
              class="checkbox checkbox-sm checkbox-primary"
              [(ngModel)]="gold"
              (ngModelChange)="addGold()"
            >
            <img src="https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/4deee521.svg" alt="donasi-image" width="20" height="20">
            <div class="inline">
              <p>Nabung emas dengan bulatkan tagihan</p>
              <small class="text-sm">Tambah Tokopedia Emas by Pluang <span class="font-bold">Rp. 9.000</span></small>
            </div>
          </div>
          <hr class="mt-3"><hr><hr><hr><hr><hr class="mb-3">
        </div>
      </div>

      <div class="h-full md:h-screen w-full md:w-[45%] lg:w-[40%] font-bold mx-auto mt-4 md:mt-0">
        <app-card-billing
          [priceProduct]="priceProduct"
          [qtyProduct]="qtyProduct"
          [insurance]="insuranceCount"
          [qtyInsurance]="qtyInsurance"
          [gold]="gold"
          [donation]="donation"
        ></app-card-billing>
      </div>
    </div>
  </div>
  <ng-template #noProducts class="h-screen">
    <div class="flex justify-center items-center mt-5">
      <img src="https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/60adc47d.jpg" alt="not-found"
        width="300" height="290">
    </div>
    <div class="text-center">
      <p class="font-bold text-2xl mt-5">Wah, keranjang belanjamu kosong</p>
      <p class="mt-1 text-slate-500">Yuk, isi dengan barang-barang impianmu!</p>
      <button routerLink="/product"
        class="mt-3 px-8 py-2 bg-purple-600 hover:bg-purple-500 rounded-lg text-white text-md font-bold">Mulai
        Belanja</button>
    </div>
  </ng-template>
</div>
