/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400&700display=swap");

.font-custom {
  font-family: "Gabarito", "Poppins";
}

.slick-next {
  color: transparent;
  position: absolute;
  top: 50%;
  right: 5%;
  display: block;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  outline: none;
  width: 0;
  height: 0;
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 15px;
  border-left-color: blue;
}

.slick-prev {
  color: transparent;
  position: absolute;
  top: 50%;
  right: 5%;
  display: block;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  outline: none;
  width: 0;
  height: 0;
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 15px;
  border-left-color: blue;
}

.bg-link-active {
  background-color: #9b59b6;
  color: white;
  border-radius: 25px 0px 25px 0px;
}

@keyframes animate-arrow {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
}

.animate-arrow {
  animation: animate-arrow 2s linear infinite;
}
